# Embedded DB settings
embedded.use=true

# Standalone DB settings
standalone.driver=com.mysql.jdbc.Driver
standalone.jdbcUrl=jdbc:mysql://localhost:3306/dummy
standalone.user=root
standalone.pass=root

# NCBI settings
homologue.data=ftp://ftp.ncbi.nlm.nih.gov/pub/HomoloGene/current/homologene.data
homologue.taxonomy=ftp://ftp.ncbi.nlm.nih.gov/pub/HomoloGene/current/build_inputs/taxid_taxname

# Cron settings
cron.ncbiRefresh=0 0 0 * * ?