<style>
  td, th {
    text-align: left;
  }
</style>
<div class="container" ng-controller="HomologueController">
  <div id="selectBox">
    <h3>Show Homologues</h3>

    <!--<form destination="b/ncbi/homologuesExcel" name="form" upload-form novalidate>-->
    <form action="b/ncbi/homologuesExcel" method="POST" enctype="multipart/form-data">
      <table>
        <tr>
          <td>Run</td>
          <td>
            <input id="files" name="files" type="file" multiple/>
          </td>
        </tr>

        <tr>
          <td>
            <!--<button class="btn" ng-click="uploadForm()">Process</button>-->
            <input type="submit"/>
          </td>
          <td>
            <img class="loading" src="assets/img/loader.gif" ng-show="loading"/><span
                  class="failure">{{loadError}}</span>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <br/>

  <div id="legend">
    <h4>Information</h4>
    Compare your gene data to a set of known homologues from NCBI's HomoloGene database.
    <div style="padding-left:5px;">
      <dl>
        <dt>Last updated on</dt>
        <dd>{{lastUpdated}}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div id="processed" class="span8">
      <table ng-show="showingData" class="table table-striped">
        <thead>
        <tr>
          <th>Gene ID</th>
          <th>Gene Symbol</th>
          <th>Homologue ID</th>
          <th>Homologue Symbol</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows">
          <td>{{row.geneId}}</td>
          <td>{{row.geneSymbol}}</td>
          <td>{{row.homologueId}}</td>
          <td>{{row.homologueSymbol}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>